<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jogoteca</title>
    <style>
        .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        }
        .box {
        width: 300px;
        height: 300px;
        background: #fff;
        }
        body {
        margin: 0px;
        }
        </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body class="text-center">
    <div class="container">   
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="box">
        <h1 class="h3 mb-3 fw-normal">Login</h1>
        <form method="POST" action="{{ url_for('autenticar') }}">
            <input type="hidden" name="proxima" value="{{ proxima }}">
            <div class="form-floating">
                <input id="floatingInput" class="form-control" type="text" name="usuario" required>
                <label for="floatingInput">Nome de usuário</label>
            </div>
            <div class="form-floating">
                <input id="floatingInput" class="form-control" type="text" name="senha" required>
                <label for="floatingInput">Senha</label>
            <p><button class="btn btn-primary" type="submit">Entrar</button></p>
        </div>
        </form>
    </div>
    </div>
</body>
</html>