<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Promo Hunter</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">Promo Hunter</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4" action = " {{ url_for('resultado') }} " method="post">
                            <input type="text" id="nome" name="nome" class="input-text" placeholder="Buscar...">
                            <button type="submit" class="btn btn-outline-dark">Procurar</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            {% block conteudo %}
            {% endblock %}
        </main>
        <footer class="py-5 bg-dark">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright © Your Website 2022</p></div>
        </footer>
    </body>
</html>